html {
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  /* background-color :rgb(54, 62, 62); */
  background-image: url("../../Assets/dungeon.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 90%;
  margin-top: -2%;
}

.title {
  border-style: solid;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color:rgba(250, 235, 215, 0.3);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color:rgba(250, 235, 215, 0.3);
  font-weight: 700;
  color: white;
  text-shadow: 0 0 5px black;
}

.initiative-wrapper {
  border-style: solid;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  background-color:rgba(250, 235, 215, 0.3);
}



.edit-screen-wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 89%;
  background-color: rgba(73, 73, 73, 0.505);
  position: absolute;
}

.edit-screen {
  width: 40%;
  height: 50%;
  background-color: rgba(24, 24, 23, 0.9);
  position: absolute;
  margin-top: 12%;
  color: white;
  padding: 1%;
  text-align: center;
}

.edit-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
}
