.menu {
    font-size: 14px;
    color: red;
    border-color: darkred;
    background-color: #313131;
    border-radius: 2px;
    padding: 1px;
    width: 100px;
    height: auto;
    margin: 0;
    position: absolute;
    list-style: none;
    transition: opacity 2s linear;
  }

.menu-option {
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
    padding: 2%;
}

.menu-option:hover {
    background-color: #5a5a5a;
    cursor: pointer;
}