
.control-form {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    height: 25%;
    min-height: 150px;
    width: 100%;
    background-color:rgba(250, 235, 215, 0.3);
    font-family: monospace;
  }

  .inputs {
    display: flex;
  }

  .input-wrapper {
    display: flex;
  }

  .inputs-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    color: white;
    text-shadow: 0 0 5px black;
  }

  .form-input {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 1%;
    font-size: 20px;
    font-weight: 600;
  }

  #name-input, 
  #ac-input, 
  #initiative-input,
  #hp-input {
    background-color:rgba(41, 40, 40, 0.727);
    color: white;
    border-color: darkred;
    border-style: solid;
  }

  #ac-input {
    width: 20px;
  }

  #initiative-input {
    width: 20px;
  }

  #hp-input {
    width: 20px;
  }

  #legendaryActions-input {
    width: 20px;
  }

  #legendaryResistances-input {
    width: 20px;
  }

  #type-error-dot {
    color: red;

  }

  #type-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding-bottom: 1%;
  }

  .type-radio-button {
    cursor: pointer;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-top: 1%;
  }

  #add-button, 
  #clear-button, 
  #sort-button, 
  #next-button, 
  #back-button, 
  #top-button {
    background-color:rgba(41, 40, 40, 0.727);
    color: white;
    font-size: 100%;
    font-family: monospace;
    border-color: darkred;
    border-style: solid;
    width: 110%;
    height: 50%;
    margin: 5px;
    cursor: pointer;
  }

  #add-button:hover, 
  #clear-button:hover, 
  #sort-button:hover, 
  #next-button:hover, 
  #back-button:hover, 
  #top-button:hover {
    background-color:#5a5a5a;
  }

  #add-button, 
  #clear-button, 
  #sort-button {
    margin-left: 50%;
  }

  .navigation-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    margin-right: 10%;
  }

  .add-clear-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
  }