
.headings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 100%;
  border-right-style: solid;
  border-left-style: solid;
  font-size: 20px;
  font-weight: 600;
  }

#initiative-heading {
    width: 10%;
  }
  
  #name-heading {
    width: 20%;
  }
  
  #ac-heading {
    width: 10%;
  }
  
  #hp-heading {
    width: 15%;
  }
  
  #ra-heading {
    width: 10%;
  }
  
  #legendary-heading {
    width: 50%;
  }

  #space-holder {
    width: 2%
  }